doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    link(rel='stylesheet', href='/css/svgstyle.css')
    script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js")
    script(src='/js/jquery.svg.js')
    script(src='https://d3js.org/d3-color.v1.min.js')
    script(src="https://d3js.org/d3-interpolate.v1.min.js")
    script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
    script(src='/js/svgmain.js')
  body
    object#yoursvg(data="/images/stores.svg" type="image/svg+xml")
    h1#lanm
    script.
      window.storeObj = !{JSON.stringify(linkdata)}
