doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.css")
    script(src='/javascripts/d3.js')
    script(src='/javascripts/drawing.js')

  body
    block content
