body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#drawingFunction{
  width:960px;
  height:500px;
  border:1px solid black;
  float:right;
  margin-right:20px;
}
#drawingDIV{
  width:960px;
  height:500px;
  border:1px solid black;
}
#shabi {
  float:left;
  width:16%;
  margin-left:3%;
}


.sideContainer{
  float:left;
  width:18%;
}
.sideContainer2{
  float:left;
  width:15%;

  border:1px dotted red;
}
.co1{
  position:relative;
  height: 50%;
  border-bottom:1px dotted black;
}
.co2{
  position:relative;
  height: 50%;
}
.bizcat2{
  padding-left: 0;
}
.bizcat2 li{
  width:80%;
  list-style-type: none;
}
.liness{
  color:red!important;
}
